SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
PORT=3000
PUBLIC_BASE_URL=https://xxxx.ngrok-free.app
SUPER_ADMIN_ID=ваш_telegram_id

ADMIN_BOT_TOKEN=
ADMIN_BOT_UUID=
ADMIN_PANEL_PASSWORD=
ADMIN_PANEL_SESSION_SECRET=

COMMUNITY_CHAT_ID=-1004322815777
COMMUNITY_INVITE_LINK=https://t.me/+iW9FJY2eFpVmMGZi 
FFF=https://t.me/+BzIDBIAinRJmNjhi